.admission {
    background-color: #eeeee4;
    width: 750px;
}
h1
{
    background-color: rgba(202,209,207,255);
    width: 350px;
}
.blog
{
    margin-left: 950px;

    background-color: #e0e4e6;
    width: 350px;
    height: 255px;
    margin-top:-250px;
}
.Ku
{
  font-size: 250%;
  color:dimgrey ;
}